<%= form_for(@value, html: { class:"template-form js__template-system" }) do |f| %>
	<%= render "form_errors", object: f.object %>

	<div class="c-6">
		<div class="f-a-left">
			<%= f.label :content_name, class:"f-a-label" %>
			<%= f.text_field :content_name, class:"f-a-input" %>
		</div>
	</div>
	<div class="clearfloat"></div>
<% end %>
