<div class="magnific-container">
  <div class="magnific-title error-color">
    Заказ уже отправлен?
  </div>
  <div class="magnific-form">
    <p class='normal-txt'>Возможно заказ уже был отправлен.</p>
    <p class='normal-txt'>Если Вы этого не делали, то закройте это окно и начните с "Купить в 1 клик".</p>
    <p class='normal-txt'>Или свяжитесь с нашим менеджером удобным для Вас способом.</p>
  </div>
</div>
