<div class="magnific-container">
  <div class="magnific-title">
    Заказ отправлен
  </div>
  <div class="magnific-form">
    <p class='normal-txt'>Менеджер свяжется с Вами в ближайшее рабочее время.</p>
  </div>
</div>
