.adminmode {
  .admin-stroke-tight {
    .f-a-input {
      margin: 2px 0;
      padding: 2px;
    }

    .ts-icons{
      width: 1.6rem;
      height: 1.6rem;
    }

    .c-2 {
      display: flex;
      justify-content: flex-end;
    }
  }
}
